name: Build and Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Pull latest repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run Python script
        run: python build.py

      - name: Commit and push to page branch
        run: |
          mkdir -p page
          cp -r json emoticons index.html main.js 404.html CNAME favicon.ico vercel.json sync.sh page/
          cd page
          git init
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git checkout -b page
          git add .
          git commit -m "GitHub Actions at $(date +'%Y-%m-%d %H:%M:%S')"
          git push --force https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git page

      - name: Clean Cache
        run: |
          curl https://emoticons.hzchu.top/json/display_all_list.json?delete=true

